<!-- repeat for each in response.items -->
<div class="wwItem js-item">
  <!-- item title -->
  <div>
    <div class="leroy">
      <!-- user's latest rating if exists -->
      <div class="Bp3">${userRatings[item.id]}/10<span class="mine">:}</span></div>
    </div>
    <div class="reginald">
      <!-- item name -->
      <div>
        <a href="${item.url}" class="gogo ${item.inCart ? 'gomo' : ''} Bp0">${item.name}</a>
      </div>
      <!-- item review summary if exists-->
      <div class="Bp3" style="margin-bottom:1%;">
        <!-- average rating -->
        <a href="${item.url}?anchor=reviews">${itemReviewSummaries[item.id].averageRating}" <span class="gogo">/10</span></a>
        <!-- rating count -->
        <span style="margin-left:2%">
          ${itemReviewSummaries[item.id].numberOfReviews}&nbsp;<a href="${item.url}?anchor=reviews" class="gogo">review(s)</a>
        </span>
      </div>
    </div>
  </div>

  <!-- item details -->
  <div>
    <div class="leroy"></div>
    <div class="reginald">
      <!-- item images carousel -->
      <div>
        <!-- repeat for each image in item.images -->
        <a href="${item.url}"><img style="width:100%" class="softened" src="${image}" alt="${item.name}"</a>
      </div>
      <!-- item description -->
      <div class="Bp3" style="margin-top:1%;line-height:120%;">${item.description}</div>
      <!-- seller info, item delivery -->
      <div style="margin-top:3.5%;line-height:120%;">
        <div class="Bp1">
          <!-- seller name -->
          from <a href="${item.seller.url}" class="gogo">${item.seller.name}</a>
          <!-- seller's average rating if it exists -->
          <a href="${item.seller.reviewsUrl" style="margin-left:2%">${sellerReviewSummaries[item.seller.id].averageRating}<span class="gogo">/10</span></a>
        </div>
        <div class="Bp1">online ${seller.online}</div>
        <!-- delivery info if item.deliveryMethod == 'SHIPPED'-->
        <div class="Bp3">
          ships from ${item.shipsFrom}
          <!-- average days to arrive if available -->
          (avg ${itemReviewSummaries[item.id].averageDaysToArrive} day(s))
        </div>
      </div>
    </div>
  </div>

  <!-- item varieties -->
  <div class="js-varieties">
    <!-- repeat for each variety in item.varieties -->
    <div style="margin-top:2%;" class="js-variety">
      <div>
        <div class="leroy" style="vertical-align:top">buy</div>
        <div class="reginald">
          <div class="${item.inCart ? 'gone' : ''}">
            <!-- variety size/type description, if not empty -->
            <span class="Bp1" style="margin-right:2%;">${variety.description}</span>
            <!-- prices -->
            <span class="Bp1">
              <!-- base price -->
              <span class="price ${variety.basePrice.currency}"><span class="currencySymbol">${variety.basePrice.symbol}</span>${variety.basePrice.amount}</span>
              <!-- payment prices, repeat for each paymentPrice in variety.paymentPrices -->
              <span style="margin-left:0.5%" class="price ${paymentPrice.currency}"><span class="currencySymbol">${paymentPrice.symbol}</span>${paymentPrice.amount}</span>
            </span>
          </div>
        </div>
      </div>
      <!-- if item in cart -->
      <div style="margin-top:1%">
        <div class="leroy">
          <a href="${checkoutUrl}" class="gogo Bp3">checkout</a>
        </div>
        <div class="reginald Bp3">${variety.qtyInCart} in cart</div>
      </div>
    </div>
  </div>
</div>
